
<div class="body-container">
  <div class="filters-container">  
    <div class="dropdown-menus-container">
        <div class="dropdown-menu">
            <button onclick="dropDownCategory()" class="drop-button">CATEGORY</button>

            <div id="dropdown-category" class="dropdown-content">
              <a href="#">Second Course</a>

              <a href="#">Entrees</a>

              <a href="#">Desserts</a>
            </div>
        </div>

        <div class="dropdown-menu">
            <button onclick="dropDownSorting()" class="drop-button">SORTING</button>

            <div id="dropdown-sorting" class="dropdown-content"></div>
        </div>

        <div class="dropdown-menu">
            <button onclick="dropDownVegetarian()" class="drop-button">VEGETARIAN</button>

            <div id="dropdown-vegetarian" class="dropdown-content"></div>
        </div>
    </div>

    <div class="price-range-container">
        <p class="price-range-item price">PRICE</p>

        <p id="min-slider" class="price-range-item price">15$</p>

        <div id="uislider"></div>

        <p id="max-slider" class="price-range-item price">100$</p>
    </div>
  </div>

  <div class="food-items-container">
    <div class="border-wrapper-first">
        <div class="food-item">
            <img src="<%= image_path('pasta-with-feta.png') %>" class="food-image">

            <p class="food-name">Pasta With Feta</p>

            <p class="food-category">Second Course</p>

            <p class="food-price">$9.00</p>
        </div>
    </div>
  </div>
</div>