- if logged_in? && isAdmin?(@current_user)
  = render 'admin/navbar'
  %ul.list-group.pt-2
  - @users.each do |user|
    %li.list-group-item.border.border-secondary.rounded.p-3
      = user.name
      = user.email
      
      %button.btn.btn-primary Edit
      %button.btn.btn-danger Delete
