%footer
  .footer-container
    .contacts-container
      .pair#facebook
        %a{:href => "https://www.facebook.com/"}
          %img.social-media-icon{:src => "#{image_path('facebook-icon.png')}"}
        %p.social-media facebook contact


      .pair#instagram
        %a{:href => "https://www.instagram.com/"}
          %img.social-media-icon{:src => "#{image_path('insta-icon.png')}"}
        %p.social-media instagram contact


      .pair#mail
        %a{:href => "https://www.gmail.com/"}
          %img.social-media-icon{:src => "#{image_path('mail-icon.png')}"}
        %p.social-media contact@office.com

    .credits-container
      %p.credits-text © To the people that took those photos
